In [1]:
%cd ..

a:\Phong\Crawl_buffett

In [2]:
import pandas as pd
df_1 = pd.read_csv('docs/May_anhNA.csv')
df_2 = pd.read_csv('docs/may_cty.csv')

In [3]:
df = pd.read_csv('docs/List_company_23052023 - Listing.csv')
df[df['check'] == 'Done']

     Symbol check volume  dividend  table
0      1301  Done    NaN       NaN    NaN
1      1332  Done    NaN       NaN    NaN
2      1333  Done    NaN       NaN    NaN
3      1375  Done    NaN       NaN    NaN
4      1376  Done    NaN       NaN    NaN
...     ...   ...    ...       ...    ...
5301   8692  Done  False       NaN    NaN
5302   8703  Done  False       NaN    NaN
5303   8709  Done  False       NaN    NaN
5304   8729  Done  False       NaN    NaN
5305   8740  Done  False       NaN    NaN

[3957 rows x 5 columns]

In [ ]:
df_1[df_1['check'] == 'Done']

In [15]:
lst_vol = list(df_1[df_1['volume'] == 'Done']['Symbol']) + list(df_2[df_2['volume'] == 'Done']['Symbol'])
len(lst_vol)

2690

In [16]:
lst_table = list(df_1[df_1['table'] == 'Done']['Symbol']) + list(df_2[df_2['table'] == 'Done']['Symbol'])
len(lst_table)

3105

In [17]:
lst_table = list(df_1[df_1['dividend'] == 'Done']['Symbol']) + list(df_2[df_2['dividend'] == 'Done']['Symbol'])
len(lst_table)

3066

In [2]:
from src.ocrPdf import ocrPDF
ocrPDF(r'tests\Data\1332\PDF\2016_Q2_決算短信(2016_11_4).pdf', 'tests/a.pdf')
from src.volume import GetVolume

gv = GetVolume()
gv.findData(path = 'tests/a.pdf')