In [1]:
%cd ..

/Users/mac/Monthy/Crawl_buffett

In [2]:
import PyPDF2
import re
import os
import time
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore", UserWarning)

In [4]:
pd.read_csv('docs/List_company_23052023 - Listing.csv')

      Symbol check volume dividend table
0       1301  Done    NaN     Done  Done
1       1332  Done    NaN     Done  Done
2       1333  Done    NaN     Done  Done
3       1375  Done    NaN     Done  Done
4       1376  Done    NaN     Done  Done
...      ...   ...    ...      ...   ...
3805    9993  Done    NaN     Done  Done
3806    9994  Done   Done     Done  Done
3807    9995  Done   Done     Done  Done
3808    9996  Done   Done     Done  Done
3809    9997  Done   Done     Done  Done

[3810 rows x 5 columns]