In [1]:
%cd ..

a:\Phong\Crawl_buffett

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time, os
from src.investing import Investing
import pandas as pd
import numpy as np

In [3]:
# pd.read_excel('docs\List_company_23052023.xlsx').to_csv(, index=False)
# pd.read_csv('docs\List_company_23052023 - Listing.csv')

      Symbol
0       1301
1       1332
2       1333
3       1375
4       1376
...      ...
5301    8692
5302    8703
5303    8709
5304    8729
5305    8740

[5306 rows x 1 columns]

In [3]:
df_all = pd.read_csv('A:\Phong\Crawl_buffett\docs\List_company_23052023 - Listing.csv')

path_save = 'data'
miss_count = 0

def check_miss(id_company, path_save, miss_count):
    if not os.path.exists(f"{path_save}/{id_company}/docs/check.csv"):
        return miss_count
    df = pd.read_csv( f"{path_save}/{id_company}/docs/check.csv")  # read file
    for quarter in ['Q1', 'Q2', 'Q3', 'Q4']:
        miss_count += (df[f'Link_{quarter}'] != "[]").sum() - (df[f'download_{quarter}'] == "OK").sum()

    return miss_count
for id_company in df_all['Symbol']:
    miss_count = check_miss(id_company, path_save, miss_count)
print(miss_count)

5117