In [1]:
%cd ..

a:\Phong\Crawl_buffett

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time, os
from src.investing import Investing
import pandas as pd
import numpy as np

In [ ]:
df_all = pd.read_csv('A:\Phong\Crawl_buffett\docs\List_company_23052023 - Listing.csv')

path_save = 'data'
miss_count = 0

def check_miss(id_company, path_save, miss_count):
    if not os.path.exists(f"{path_save}/{id_company}/docs/check.csv"):
        return miss_count
    df = pd.read_csv( f"{path_save}/{id_company}/docs/check.csv")  # read file
    for quarter in ['Q1', 'Q2', 'Q3', 'Q4']:
        miss_count += (df[f'Link_{quarter}'] != "[]").sum() - (df[f'download_{quarter}'] == "OK").sum()
    if miss_count > 0:
        print(id_company)
    return miss_count
for id_company in df_all['Symbol']:
    miss_count = check_miss(id_company, path_save, miss_count)
print(miss_count)

In [58]:
def check_miss_file(symbol):
    df = pd.read_csv(fr'Data\{symbol}\docs\check.csv')
    QUARTER = ['Q1', 'Q2', 'Q3', 'Q4']
    df_temp = df[['download_Q1', 'download_Q2', 'download_Q3', 'download_Q4']]
    rows, cols = np.where(df_temp.isna())
    lst_time, lst_quarter = [],  []
    for row, col in zip(rows, cols):
        if df[f'Link_{QUARTER[col]}'][row] != '[]':
            lst_time.append(df['Year'][row])
            lst_quarter.append(QUARTER[col])

    df_new = pd.DataFrame({
                'Symbol': symbol,
                    'Year':lst_time,
                'Quarter': lst_quarter,
                })
    return df_new

df_all = pd.read_csv('A:\Phong\Crawl_buffett\docs\List_company_23052023 - Listing.csv')
df_miss = pd.DataFrame(columns=['Symbol', 'Year', 'Quarter'])
for symbol in df_all['Symbol']:
    if os.path.exists(fr'Data\{symbol}\docs\check.csv'):
        df_temp = check_miss_file(symbol)
        df_miss = pd.concat([df_miss, df_temp])
df_miss

   Symbol  Year Quarter
0    3912  2022      Q3
1    3912  2022      Q4
2    3912  2021      Q3
3    3912  2021      Q4
4    3912  2020      Q3
..    ...   ...     ...
1    7342  2022      Q4
2    7342  2021      Q2
3    7342  2021      Q3
4    7342  2021      Q4
5    7342  2020      Q4

[3558 rows x 3 columns]